body {
    font-family: 'Prompt', sans-serif;
    background-color: #E9ECEF;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    right: 10px; /* Reduced from 20px to move it further from the right */
    font-size: 18px; /* Increasing the font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #6B705C;
    transition: color 0.2s;
}

nav a:hover {
    color: #2A2A2A;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #A5A58D;
    border-radius: 10px;
    padding: 30px; /* Increased padding for bigger card */
    max-width: 600px; /* Increased width for bigger card */
    margin-left: auto;
    margin-right: auto;
}

.card img {
    max-width: 150px; /* Increased from 100px */
    max-height: 150px; /* Increased from 100px */
    border-radius: 10px;
    margin-right: 20px;
}

.content h1 {
    margin: 0;
    color: #2A2A2A;
}

.content p {
    margin-top: 10px;
    color: #2A2A2A;
}
