body {
    font-family: 'Prompt', sans-serif;
    background-color: #E9ECEF;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    right: 10px; /* Reduced from 20px to move it further from the right */
    font-size: 18px; /* Increasing the font size */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: #6B705C;
    transition: color 0.2s;
}

nav a:hover {
    color: #2A2A2A;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    background-color: #A5A58D;
    border-radius: 10px;
    padding: 30px; /* Increased padding for bigger card */
    max-width: 600px; /* Increased width for bigger card */
    margin-left: auto;
    margin-right: auto;
}

.card img {
    max-width: 150px; /* Increased from 100px */
    max-height: 150px; /* Increased from 100px */
    border-radius: 10px;
    margin-right: 20px;
}

.content h1 {
    margin: 0;
    color: #2A2A2A;
}

.content p {
    margin-top: 10px;
    color: #2A2A2A;
}


/* Timeline styles */
.timeline {
    position: relative;
    max-width: 800px;
    margin: 100px auto;
    padding: 50px 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #6B705C;
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item.right {
    margin-left: 50%;
    padding-left: 30px;
    text-align: left;
}

.timeline-item.left {
    margin-right: 50%;
    padding-right: 30px;
    text-align: right;
}

.timeline-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6B705C;
    z-index: 1;
}

.timeline-item.right::before {
    left: -30px;
    top: 20px;
}

.timeline-item.left::before {
    right: -30px;
    top: 20px;
}

.timeline-item h2,
.timeline-item h3,
.timeline-item p {
    margin: 0;
    margin-bottom: 10px;
}


html {
    scroll-behavior: smooth;
}

.timeline.work {
    display: none;
}

.timeline-switcher {
    text-align: center;
    margin: 50px 0;
}

.btn {
    padding: 15px 30px;           /* Increased padding for larger buttons */
    margin: 0 10px;
    border: none;
    cursor: pointer;
    background-color: #000;       /* Set to pure black */
    color: #E9ECEF;               /* Lighter color for contrast */
    font-size: 20px;              /* Increased font size */
    font-family: 'Prompt', sans-serif;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 10px;          /* Rounded edges */
}

.btn:hover {
    background-color: #6B705C;    /* Color transition on hover */
    transform: scale(1.05);       /* Slightly enlarge the button on hover */
}



